.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form__label {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

.feedback-form__text {
  padding: 13px 22px 29px;
  min-height: 160px;
  background-color: $grey-200;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  border: none;
  box-sizing: border-box;
  resize: none;
}

.feedback-form__text:hover {
  background-color: $grey-300;
}

.feedback-form__text:focus {
  background-color: $white;
  outline: 4px solid $grey-300;
  outline-offset: -4px;
}

.feedback-form__text::placeholder {
  font-size: 18px;
  font-weight: 700;
  color: $black;
}

@media (min-width: $tablet-width) {
  .feedback-form {
    grid-column: 1 / -1;
  }

  .feedback-form__label {
    position: relative;
    margin-bottom: 54px;
    text-align: center;
    font-size: 21px;
  }

  .feedback-form__label::before {
    position: absolute;
    top: 12px;
    left: 0;
    width: 123px;
    height: 1px;
    background-color: $grey-300;
    content: "";
  }

  .feedback-form__label::after {
    position: absolute;
    top: 12px;
    right: 0;
    width: 123px;
    height: 1px;
    background-color: $grey-300;
    content: "";
  }

  .feedback-form__text {
    padding: 18px 21px 24px;
  }
}

@media (min-width: $desktop-width) {
  .feedback-form__label::before {
    width: 280px;
  }

  .feedback-form__label::after {
    width: 280px;
  }
}
