.form-list {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 28px;
  border: none;
}

.form-list__title {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
}

.form-list__list {
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
}
