.form-group--login .form-group__field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 280px;
}

.form-group--login .field__input {
  flex-grow: 1;
  min-width: 140px;
}

.form-group--contacts .form-group__field {
  display: flex;
  flex-direction: column;
}

.form-group--contacts .field__label {
  margin-bottom: 8px;
  padding-left: 22px;
}

.form-group__title {
  margin: 0;
  margin-bottom: 21px;
  font-size: 18px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .form-group--contacts {
    grid-column: 1 / -1;
  }
}

@media (min-width: $desktop-width) {



}
