.form-group--login .form-group__field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 280px;
}

.form-group--login .field__input {
  flex-grow: 1;
  min-width: 130px;
}

.form-group--contacts .form-group__field {
  display: flex;
  flex-direction: column;
}

.form-group--contacts .field__label {
  margin-bottom: 8px;
  padding-left: 22px;
}

.form-group__title {
  margin: 0;
  margin-bottom: 21px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: $mobile-width) {
  .form-group--contacts .form-group__field {
    max-width: 280px;
  }
}

@media (min-width: $tablet-width) {
  .form-group--login {
    padding-left: 58px;
    padding-bottom: 72px;
  }

  .form-group__title {
    font-size: 21px;
  }

  .form-group--login .form-group__title {
    margin-bottom: 54px;
    text-align: left;
  }

  .form-group--login .form-group__field {
    max-width: 266px;
  }

  .form-group--contacts {
    grid-column: 1 / -1;
  }

  .form-group--contacts .form-group__title {
    position: relative;
    margin-bottom: 20px;
  }

  .form-group--contacts .form-group__title::before {
    position: absolute;
    top: 13px;
    left: 0;
    width: 123px;
    height: 1px;
    background-color: $grey-300;
    content: "";
  }

  .form-group--contacts .form-group__title::after {
    position: absolute;
    top: 13px;
    right: 0;
    width: 123px;
    height: 1px;
    background-color: $grey-300;
    content: "";
  }
}

@media (min-width: $desktop-width) {
  .form-group--login {
    padding-left: 79px;
    padding-bottom: 70px;
  }

  .form-group--login .form-group__field {
    max-width: 404px;
  }

  .form-group__field-contacts-wrapper {
    display: grid;
    grid-template-columns: 1fr 50%;
    column-gap: 79px;
  }

  .form-group--contacts .field__label {
    margin-bottom: 0;
    padding-left: 0;
  }

  .form-group--contacts .form-group__field {
    flex-direction: row;
    align-items: center;
  }

  .form-group--contacts .form-group__title {
    margin-bottom: 71px;
  }

  .form-group--contacts .form-group__title::before {
    width: 280px;
  }

  .form-group--contacts .form-group__title::after {
    width: 280px;
  }
}
