.form-list__title {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.form-list__list {
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
}

@media (max-width: $mobile-width) {
  .form-list__list {
    width: 280px;
  }
}

@media (min-width: $tablet-width) {
  .form-list--impression {
    order: -1;
    padding-bottom: 76px;
  }

  .form-list--impression::after {
    position: absolute;
    top: 20px;
    right: 0;
    width: 1px;
    height: 292px;
    background-color: $grey-300;
    content: "";
  }

  .form-list__title {
    font-size: 21px;
  }

  .form-list--impression .form-list__title {
    margin-bottom: 58px;
    text-align: left;
  }

  .form-list--attractions {
    grid-column: 1 / -1;
    padding-bottom: 21px;
  }

  .form-list--attractions .form-list__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 80px;
    padding-right: 80px;
  }

  .form-list--attractions .form-list__title {
    position: relative;
    max-width: 308px;
    margin: 0 auto;
    margin-bottom: 47px;
  }

  .form-list--attractions .form-list__title::before {
    position: absolute;
    top: 26px;
    left: -169px;
    width: 123px;
    height: 1px;
    background-color: $grey-300;
    content: "";
  }

  .form-list--attractions .form-list__title::after {
    position: absolute;
    top: 26px;
    right: -169px;
    width: 123px;
    height: 1px;
    background-color: $grey-300;
    content: "";
  }
}

@media (min-width: $desktop-width) {
  .form-list--impression .form-list__title {
    text-align: center;
  }

  .form-list--attractions {
    padding-bottom: 19px;
  }

  .form-list--attractions .form-list__list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }

  .form-list--attractions .form-list__title::before {
    width: 280px;
    left: -326px;
  }

  .form-list--attractions .form-list__title::after {
    width: 280px;
    right: -326px;
  }
}
