.page-header {
  position: relative;
  padding-bottom: 56px;
  background-color: $white;
}

.page-header__logo {
  position: absolute;
  left: calc(50% - 51px);
  bottom: -28px;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-bottom: 0;
  }
}
