.page-header {
  position: relative;
  padding-bottom: 56px;
  background-color: $white;
}

.page-header__logo {
  position: absolute;
  left: calc(50% - 51px);
  bottom: -28px;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    left: calc(50% - 93px);
  }

  .page-header__logo--image {
    width: 186px;
    height: 96px;
  }
}
