.page-main__intro {
  height: 214px;
  padding: 90px 0 85px;
  background-color: $blue-300;
  background-image: url(../img/back-mobile.jpg);
  background-repeat: no-repeat;
  content: "";
}

.page-main__description-wrapper {
  padding: 36px 0 16px;
}

.page-main__review-form-wrapper {
  margin-bottom: 48px;
}
