.page-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 38px 0 23px;
}

.page-footer__item {
  margin: 0 auto;
}

.page-footer__item:first-child {
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 21px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    padding: 36px 0 36px;
  }

  .page-footer__item {
    align-self: center;
  }

  .page-footer__item:first-child {
    margin-bottom: 0;
  }
}
