.panel__bar-wrapper {
  position: relative;
  width: 280px;
  height: 45px;
  margin: 0 auto;
  margin-top: -45px;
  background-color: rgba($black, 0.6);
}

.panel__bar {
  position: absolute;
  top: 22px;
  left: 22px;
  width: 235px;
  height: 3px;
  background-color: rgba($white, 0.2);
  content: "";
}

.panel__handle {
  position: absolute;
  top: -3px;
  left: 36px;
  width: 9px;
  height: 9px;
  background-color: $white;
  border-radius: 50%;
  content: "";
}

.panel__buttons {
  position: relative;
  width: 280px;
  height: 66px;
  margin: 0 auto;
  background-color: $grey-200;
}

.panel__button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.panel__button--play {
  position: absolute;
  top: 22px;
  left: 25px;
  width: 16px;
  height: 20px;
  content: "";
}

.panel__button--subtitles {
  position: absolute;
  top: 23px;
  right: 74px;
  width: 32px;
  height: 20px;
  content: "";
}

.panel__button--fullscreen {
  position: absolute;
  top: 23px;
  right: 23px;
  width: 20px;
  height: 20px;
  content: "";
}

.panel__button-icon:hover {
  fill: $grey-700;
}

.panel__button-icon:active {
  fill: $grey-700;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .panel__bar-wrapper {
    width: 440px;
    height: 93px;
    margin-top: -93px;
    margin-left: 71px;
    background-color: transparent;
    z-index: 1;
  }

  .panel__bar {
    top: 45px;
    left: 22px;
    width: 389px;
  }

  .panel__handle {
    left: 113px;
  }

  .panel__buttons {
    width: 648px;
    height: 93px;
    margin-top: -93px;
    background-color: rgba($black, 0.6);
  }

  .panel__button-icon {
    fill: $white;
  }

  .panel__button-icon:hover {
    fill: $white;
    opacity: 0.6;
  }

  .panel__button-icon:active {
    fill: $white;
    opacity: 0.3;
  }

  .panel__button--play {
    top: 35px;
    left: 35px;
  }

  .panel__button--subtitles {
    top: 36px;
    right: 92px;
  }

  .panel__button--fullscreen {
    top: 36px;
    right: 41px;
  }
}

@media (min-width: $desktop-width) {
  .panel__bar-wrapper {
    width: 590px;
  }

  .panel__bar {
    width: 540px;
  }

  .panel__buttons {
    width: 800px;
  }
}
