.radio {
  position: relative;
}

.radio:not(:last-child) {
  margin-bottom: 21px;
}

.radio__input {
  position: absolute;
}

.radio__label {
  display: flex;
  align-items: center;
  min-height: 48px;
  padding-left: 74px;
  cursor: pointer;
}

.radio__input + .radio__label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background-color: $grey-200;
  border-radius: 50%;
  content: "";
}

.radio__input:checked + .radio__label::after {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 18px;
  height: 18px;
  background-color: $grey-700;
  border-radius: 50%;
  content: "";
}

@media (min-width: $tablet-width) {
  .radio:not(:last-child) {
    margin-bottom: 30px;
  }
}
