.search {
  padding: 33px 0 49px;
  text-align: center;
}

.search__title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 21px;
}

.search__description {
  margin: 0;
  margin-bottom: 27px;
  line-height: 21px;
}

.search__button {
  width: 280px;
}
