.town-advantages {
  grid-column: 1 / -1;
}

.town-advantages__list {

  padding-bottom: 35px;
  text-align: left;
  background-color: $white;
}

.town-advantages__item {
  position: relative;
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 20px;
}

.town-advantages__item:not(:last-child) {
  margin-bottom: 26px;
}

.town-advantages__item::before {
  position: absolute;
  top: 25px;
  left: 21px;
  width: 40px;
  height: 38px;
  background-repeat: no-repeat;
  content: "";
}

.town-advantages__item--housing::before {
  background-image: url("../img/icon-house.svg");
}

.town-advantages__item--food::before {
  background-image: url("../img/icon-burger.svg");
}

.town-advantages__item--souvenirs::before {
  background-image: url("../img/icon-gift.svg");
}

.town-advantages__title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 21px;
  color: $black;
}

.town-advantages__text {
  margin: 0;
  color: $grey-700;
}

@media (max-width: $mobile-width) {
  .town-advantages__item--text-wrap-tablet {
    display: none;
  }

  .town-advantages__item--text-wrap-desktop {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .town-advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 59px;
    text-align: center;
  }

  .town-advantages__item {
    padding-top: 158px;
    padding-left: 36px;
    padding-right: 36px;
  }

  .town-advantages__item::before {
    top: 60px;
    left: 89px;
    width: 75px;
    height: 75px;
  }

  .town-advantages__item--housing::before {
    background-size: 75px 72px;
  }

  .town-advantages__item--food::before {
    background-size: 75px 72px;
  }

  .town-advantages__item--souvenirs::before {
    background-size: 75px 72px;
  }

  .town-advantages__item--souvenirs {
    order: 3;
    padding-left: 31px;
    padding-right: 31px;
  }

  .town-advantages__item:not(:last-child) {
    margin-bottom: 0;
  }

  .town-advantages__text {
    line-height: 21px;
  }

  .town-advantages__item--text-wrap-desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .town-advantages__list {
    padding-bottom: 83px;
  }

  .town-advantages__item {
    padding-left: 59px;
    padding-right: 59px;
  }

  .town-advantages__item::before {
    left: 160px;
  }

  .town-advantages__item--text-wrap-desktop {
    display: block;
  }
}
